openapi: 3.0.3
info:
  description: 'You can use Spotify''s Web API to discover music and podcasts, manage
    your Spotify library, control audio playback, and much more. Browse our available
    Web API endpoints using the sidebar at left, or via the navigation bar on top
    of this page on smaller screens.


    In order to make successful Web API requests your app will need a valid access
    token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth
    2.0</a>.


    The base URI for all Web API requests is `https://api.spotify.com/v1`.


    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web
    API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify
    for Developers community forum</a> to ask questions and connect with other developers.

    '
  version: 2025.5.18
  title: Spotify Web API with fixes and improvements from sonallux
  termsOfService: https://developer.spotify.com/terms/
  contact:
    name: sonallux
    url: https://github.com/sonallux/spotify-web-api
servers:
- url: https://api.spotify.com/v1
tags:
- name: Albums
- name: Artists
- name: Audiobooks
- name: Categories
- name: Chapters
- name: Episodes
- name: Library
- name: Genres
- name: Markets
- name: Player
- name: Playlists
- name: Search
- name: Shows
- name: Tracks
- name: Users
paths:
  /albums/{id}:
    get:
      operationId: get-an-album
      tags:
      - Albums
      summary: 'Get Album

        '
      description: 'Get Spotify catalog information for a single album.

        '
      parameters:
      - $ref: '#/components/parameters/PathAlbumId'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneAlbum'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /albums/{id}/tracks:
    get:
      operationId: get-an-albums-tracks
      tags:
      - Albums
      - Tracks
      summary: 'Get Album Tracks

        '
      description: 'Get Spotify catalog information about an album’s tracks.

        Optional parameters can be used to limit the number of tracks returned.

        '
      parameters:
      - $ref: '#/components/parameters/PathAlbumId'
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSimplifiedTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}:
    get:
      tags:
      - Artists
      operationId: get-an-artist
      summary: 'Get Artist

        '
      description: 'Get Spotify catalog information for a single artist identified
        by their unique Spotify ID.

        '
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      responses:
        '200':
          $ref: '#/components/responses/OneArtist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}/albums:
    get:
      tags:
      - Artists
      - Albums
      operationId: get-an-artists-albums
      summary: 'Get Artist''s Albums

        '
      description: 'Get Spotify catalog information about an artist''s albums.

        '
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      - $ref: '#/components/parameters/QueryIncludeGroups'
      - $ref: '#/components/parameters/QueryMarket'
      - name: limit
        required: false
        in: query
        schema:
          title: Limit
          description: 'The maximum number of items to return. Default: 5. Minimum:
            1. Maximum: 10.

            '
          default: 5
          example: 5
          type: integer
          minimum: 0
          maximum: 10
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingArtistDiscographyAlbumObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}/top-tracks:
    get:
      deprecated: true
      tags:
      - Artists
      - Tracks
      operationId: get-an-artists-top-tracks
      summary: 'Get Artist''s Top Tracks

        '
      description: 'Get Spotify catalog information about an artist''s top tracks
        by country.

        '
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/ManyTracks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /search:
    get:
      tags:
      - Search
      operationId: search
      summary: 'Search for Item

        '
      description: 'Get Spotify catalog information about albums, artists, playlists,
        tracks, shows, episodes or audiobooks

        that match a keyword string. Audiobooks are only available within the US,
        UK, Canada, Ireland, New Zealand and Australia markets.

        '
      parameters:
      - name: q
        required: true
        in: query
        schema:
          title: Query
          description: 'Your search query.


            You can narrow down your search using field filters. The available filters
            are `album`, `artist`, `track`, `year`, `upc`, `tag:hipster`, `tag:new`,
            `isrc`, and `genre`. Each field filter only applies to certain result
            types.


            The `artist` and `year` filters can be used while searching albums, artists
            and tracks. You can filter on a single `year` or a range (e.g. 1955-1960).<br
            />

            The `album` filter can be used while searching albums and tracks.<br />

            The `genre` filter can be used while searching artists and tracks.<br
            />

            The `isrc` and `track` filters can be used while searching tracks.<br
            />

            The `upc`, `tag:new` and `tag:hipster` filters can only be used while
            searching albums. The `tag:new` filter will return albums released in
            the past two weeks and `tag:hipster` can be used to return only albums
            with the lowest 10% popularity.<br />

            '
          example: remaster%20track:Doxy%20artist:Miles%20Davis
          type: string
      - name: type
        required: true
        explode: false
        in: query
        schema:
          title: Item type
          description: 'A comma-separated list of item types to search across. Search
            results include hits

            from all the specified item types. For example: `q=abacab&type=album,track`
            returns

            both albums and tracks matching "abacab".

            '
          items:
            type: string
            enum:
            - album
            - artist
            - playlist
            - track
            - show
            - episode
            - audiobook
          type: array
      - $ref: '#/components/parameters/QueryMarket'
      - name: limit
        required: false
        in: query
        schema:
          title: Limit
          description: 'The maximum number of results to return in each item type.

            '
          default: 5
          example: 10
          type: integer
          minimum: 1
          maximum: 10
      - name: offset
        required: false
        in: query
        schema:
          title: Offset
          description: 'The index of the first result to return. Use

            with limit to get the next page of search results.

            '
          default: 0
          minimum: 0
          maximum: 1000
          example: 5
          type: integer
      - name: include_external
        required: false
        in: query
        schema:
          title: Include External
          description: 'If `include_external=audio` is specified it signals that the
            client can play externally hosted audio content, and marks

            the content as playable in the response. By default externally hosted
            audio content is marked as unplayable in the response.

            '
          type: string
          enum:
          - audio
      responses:
        '200':
          $ref: '#/components/responses/SearchItems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /me:
    get:
      tags:
      - Users
      operationId: get-current-users-profile
      summary: 'Get Current User''s Profile

        '
      description: 'Get detailed profile information about the current user (including
        the

        current user''s username).

        '
      responses:
        '200':
          $ref: '#/components/responses/OnePrivateUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-read-private
        - user-read-email
  /playlists/{playlist_id}:
    get:
      tags:
      - Playlists
      operationId: get-playlist
      summary: 'Get Playlist

        '
      description: 'Get a playlist owned by a Spotify user.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - $ref: '#/components/parameters/QueryMarket'
      - name: fields
        required: false
        in: query
        schema:
          title: Fields
          description: 'Filters for the query: a comma-separated list of the

            fields to return. If omitted, all fields are returned. For example, to
            get

            just the playlist''''s description and URI: `fields=description,uri`.
            A dot

            separator can be used to specify non-reoccurring fields, while parentheses

            can be used to specify reoccurring fields within objects. For example,
            to

            get just the added date and user ID of the adder: `fields=tracks.items(added_at,added_by.id)`.

            Use multiple parentheses to drill down into nested objects, for example:
            `fields=tracks.items(track(name,href,album(name,href)))`.

            Fields can be excluded by prefixing them with an exclamation mark, for
            example:

            `fields=tracks.items(track(name,href,album(!name,href)))`

            '
          example: items(added_by.id,track(name,href,album(name,href)))
          type: string
      - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        '200':
          $ref: '#/components/responses/OnePlaylist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /playlists/{playlist_id}/items:
    get:
      tags:
      - Playlists
      - Tracks
      operationId: get-playlists-items
      summary: 'Get Playlist Items

        '
      description: 'Get full details of the items of a playlist owned by a Spotify
        user.


        **Note**: This endpoint is only accessible for playlists owned by the current
        user or playlists the user is a collaborator of. A `403 Forbidden` status
        code will be returned if the user is neither the owner nor a collaborator
        of the playlist.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - $ref: '#/components/parameters/QueryMarket'
      - name: fields
        required: false
        in: query
        schema:
          title: Fields
          description: 'Filters for the query: a comma-separated list of the

            fields to return. If omitted, all fields are returned. For example, to
            get

            just the total number of items and the request limit:<br/>`fields=total,limit`<br/>A

            dot separator can be used to specify non-reoccurring fields, while parentheses

            can be used to specify reoccurring fields within objects. For example,
            to

            get just the added date and user ID of the adder:<br/>`fields=items(added_at,added_by.id)`<br/>Use

            multiple parentheses to drill down into nested objects, for example:<br/>`fields=items(track(name,href,album(name,href)))`<br/>Fields

            can be excluded by prefixing them with an exclamation mark, for example:<br/>`fields=items.track.album(!external_urls,images)`

            '
          example: items(added_by.id,track(name,href,album(name,href)))
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        '200':
          $ref: '#/components/responses/PagingPlaylistTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-read-private
    put:
      tags:
      - Playlists
      - Tracks
      operationId: reorder-or-replace-playlists-items
      summary: 'Update Playlist Items

        '
      description: 'Either reorder or replace items in a playlist depending on the
        request''s parameters.

        To reorder items, include `range_start`, `insert_before`, `range_length` and
        `snapshot_id` in the request''s body.

        To replace items, include `uris` as either a query parameter or in the request''s
        body.

        Replacing items in a playlist will overwrite its existing items. This operation
        can be used for replacing or clearing items in a playlist.

        <br/>

        **Note**: Replace and reorder are mutually exclusive operations which share
        the same endpoint, but have different parameters.

        These operations can''t be applied together in a single request.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: 'A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids)
            to set, can be track or episode URIs. For example: `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A
            maximum of 100 items can be set in one request.

            '
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                range_start: 1
                insert_before: 3
                range_length: 2
              type: object
              additionalProperties: true
              properties:
                uris:
                  type: array
                  items:
                    type: string
                range_start:
                  type: integer
                  description: 'The position of the first item to be reordered.

                    '
                insert_before:
                  type: integer
                  description: 'The position where the items should be inserted.<br/>To
                    reorder the items to the end of the playlist, simply set _insert_before_
                    to the position after the last item.<br/>Examples:<br/>To reorder
                    the first item to the last position in a playlist with 10 items,
                    set _range_start_ to 0, and _insert_before_ to 10.<br/>To reorder
                    the last item in a playlist with 10 items to the start of the
                    playlist, set _range_start_ to 9, and _insert_before_ to 0.

                    '
                range_length:
                  type: integer
                  description: 'The amount of items to be reordered. Defaults to 1
                    if not set.<br/>The range of items to be reordered begins from
                    the _range_start_ position, and includes the _range_length_ subsequent
                    items.<br/>Example:<br/>To move the items at index 9-10 to the
                    start of the playlist, _range_start_ is set to 9, and _range_length_
                    is set to 2.

                    '
                snapshot_id:
                  type: string
                  description: 'The playlist''s snapshot ID against which you want
                    to make the changes.

                    '
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    post:
      tags:
      - Playlists
      - Tracks
      operationId: add-items-to-playlist
      summary: 'Add Items to Playlist'
      description: 'Add one or more items to a user''s playlist.'
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: position
        required: false
        in: query
        schema:
          title: Position (append by default)
          description: 'The position to insert the items, a zero-based index. For
            example, to insert the items in the first position: `position=0`; to
            insert the items in the third position: `position=2`. If omitted, the
            items will be appended to the playlist. Items are added in the order
            they are listed in the query string or request body.

            '
          example: 0
          type: integer
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: 'A comma-separated list of Spotify URIs to add, can be track
            or episode URIs. For example: `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M`<br/>A
            maximum of 100 items can be added in one request.

            '
          example: spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                uris:
                  description: 'A JSON array of the Spotify URIs to add. For example:
                    `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M"]}`<br/>A
                    maximum of 100 items can be added in one request.

                    '
                  type: array
                  items:
                    type: string
                position:
                  description: 'The position to insert the items, a zero-based index.
                    If omitted, the items will be appended to the playlist.

                    '
                  type: integer
      responses:
        '201':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /me/playlists:
    get:
      tags:
      - Playlists
      - Library
      operationId: get-a-list-of-current-users-playlists
      summary: 'Get Current User''s Playlists

        '
      description: 'Get a list of the playlists owned or followed by the current Spotify

        user.

        '
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - name: offset
        required: false
        in: query
        schema:
          title: Offset
          description: '''The index of the first playlist to return. Default:

            0 (the first object). Maximum offset: 100.000\. Use with `limit` to get
            the

            next set of playlists.''

            '
          default: 0
          example: 5
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/PagedPlaylists'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-read-private
    post:
      tags:
      - Playlists
      - Library
      operationId: create-playlist
      summary: 'Create Playlist'
      description: 'Create a playlist for the current Spotify user. (The playlist will be empty until you [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).)Each user is generally limited to a maximum of 11000 playlists.'
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: New Playlist
                description: New playlist description
                public: false
              type: object
              additionalProperties: true
              required:
              - name
              properties:
                name:
                  type: string
                  description: 'The name for the new playlist, for example `"Your Coolest Playlist"`. This name does not need to be unique; a user may have several playlists with the same name.'
                public:
                  type: boolean
                  description: 'Defaults to `true`. The playlist''s public/private
                    status (if it should be added to the user''s profile or not):
                    `true` the playlist will be public, `false` the playlist will
                    be private. To be able to create private playlists, the user must
                    have granted the `playlist-modify-private` [scope](/documentation/web-api/concepts/scopes/#list-of-scopes).
                    For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)
                    '
                collaborative:
                  type: boolean
                  description: 'Defaults to `false`. If `true` the playlist will be
                    collaborative. _**Note**: to create a collaborative playlist you
                    must also set `public` to `false`. To create collaborative playlists
                    you must have granted `playlist-modify-private` and `playlist-modify-public`
                    [scopes](/documentation/web-api/concepts/scopes/#list-of-scopes).'
                description:
                  type: string
                  description: 'value for playlist description as displayed in Spotify Clients and in the Web API.'
      responses:
        '201':
          $ref: '#/components/responses/OnePlaylist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /playlists/{playlist_id}/images:
    get:
      tags:
      - Playlists
      operationId: get-playlist-cover
      summary: 'Get Playlist Cover Image

        '
      description: 'Get the current image associated with a specific playlist.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfImages'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /browse/new-releases:
    get:
      deprecated: true
      tags:
      - Albums
      operationId: get-new-releases
      summary: 'Get New Releases

        '
      description: 'Get a list of new album releases featured in Spotify (shown, for
        example, on a Spotify player’s “Browse” tab).

        '
      parameters:
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagedAlbums'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
components:
  schemas:
    PagingArtistObject:
      type: object
      x-spotify-docs-type: PagingArtistObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ArtistObject'
    AudiobookBase:
      type: object
      required:
      - authors
      - available_markets
      - copyrights
      - description
      - explicit
      - external_urls
      - href
      - html_description
      - id
      - images
      - languages
      - media_type
      - name
      - narrators
      - publisher
      - total_chapters
      - type
      - uri
      properties:
        authors:
          type: array
          items:
            $ref: '#/components/schemas/AuthorObject'
          description: 'The author(s) for the audiobook.

            '
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          description: 'A list of the countries in which the audiobook can be played,
            identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
            code.

            '
        copyrights:
          type: array
          items:
            $ref: '#/components/schemas/CopyrightObject'
          description: 'The copyright statements of the audiobook.

            '
        description:
          type: string
          description: 'A description of the audiobook. HTML tags are stripped away
            from this field, use `html_description` field in case HTML tags are needed.

            '
        html_description:
          type: string
          description: 'A description of the audiobook. This field may contain HTML
            tags.

            '
        edition:
          type: string
          description: 'The edition of the audiobook.

            '
          example: Unabridged
        explicit:
          type: boolean
          description: 'Whether or not the audiobook has explicit content (true =
            yes it does; false = no it does not OR unknown).

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'External URLs for this audiobook.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            audiobook.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the audiobook.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'The cover art for the audiobook in various sizes, widest first.

            '
        languages:
          type: array
          items:
            type: string
          description: 'A list of the languages used in the audiobook, identified
            by their [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code.

            '
        media_type:
          type: string
          description: 'The media type of the audiobook.

            '
        name:
          type: string
          description: 'The name of the audiobook.

            '
        narrators:
          type: array
          items:
            $ref: '#/components/schemas/NarratorObject'
          description: 'The narrator(s) for the audiobook.

            '
        publisher:
          deprecated: true
          type: string
          description: 'The publisher of the audiobook.

            '
        type:
          type: string
          enum:
          - audiobook
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the audiobook.

            '
        total_chapters:
          type: integer
          description: 'The number of chapters in this audiobook.

            '
    PrivateUserObject:
      type: object
      x-spotify-docs-type: PrivateUserObject
      properties:
        country:
          deprecated: true
          type: string
          description: 'The country of the user, as set in the user''s account profile.
            An [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
            _This field is only available when the current user has granted access
            to the [user-read-private](/documentation/web-api/concepts/scopes/#list-of-scopes)
            scope._

            '
        display_name:
          type: string
          description: 'The name displayed on the user''s profile. `null` if not available.

            '
        email:
          deprecated: true
          type: string
          description: 'The user''s email address, as entered by the user when creating
            their account. _**Important!** This email address is unverified; there
            is no proof that it actually belongs to the user._ _This field is only
            available when the current user has granted access to the [user-read-email](/documentation/web-api/concepts/scopes/#list-of-scopes)
            scope._

            '
        explicit_content:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/ExplicitContentSettingsObject'
          description: 'The user''s explicit content settings. _This field is only
            available when the current user has granted access to the [user-read-private](/documentation/web-api/concepts/scopes/#list-of-scopes)
            scope._

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: Known external URLs for this user.
        followers:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/FollowersObject'
          description: Information about the followers of the user.
        href:
          type: string
          description: 'A link to the Web API endpoint for this user.

            '
        id:
          type: string
          description: 'The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the user.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: The user's profile image.
        product:
          deprecated: true
          type: string
          description: 'The user''s Spotify subscription level: "premium", "free",
            etc. (The subscription level "open" can be considered the same as "free".)
            _This field is only available when the current user has granted access
            to the [user-read-private](/documentation/web-api/concepts/scopes/#list-of-scopes)
            scope._

            '
        type:
          type: string
          description: 'The object type: "user"

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the user.

            '
    SimplifiedAudiobookObject:
      x-spotify-docs-type: SimplifiedAudiobookObject
      allOf:
      - $ref: '#/components/schemas/AudiobookBase'
    PlaylistTracksRefObject:
      type: object
      x-spotify-docs-type: PlaylistTracksRefObject
      properties:
        href:
          type: string
          description: 'A link to the Web API endpoint where full details of the playlist''s
            tracks can be retrieved.

            '
        total:
          type: integer
          description: 'Number of tracks in the playlist.

            '
    PagingArtistDiscographyAlbumObject:
      type: object
      x-spotify-docs-type: PagingArtistDiscographyAlbumObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ArtistDiscographyAlbumObject'
    AlbumObject:
      x-spotify-docs-type: AlbumObject
      required:
      - artists
      - tracks
      - copyrights
      - external_ids
      - genres
      - label
      - popularity
      allOf:
      - $ref: '#/components/schemas/AlbumBase'
      - type: object
        properties:
          artists:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedArtistObject'
            description: 'The artists of the album. Each artist object includes a
              link in `href` to more detailed information about the artist.

              '
          tracks:
            allOf:
            - $ref: '#/components/schemas/PagingSimplifiedTrackObject'
            description: 'The tracks of the album.

              '
          copyrights:
            type: array
            items:
              $ref: '#/components/schemas/CopyrightObject'
            description: 'The copyright statements of the album.

              '
          external_ids:
            allOf:
            - $ref: '#/components/schemas/ExternalIdObject'
            description: 'Known external IDs for the album.

              '
          genres:
            type: array
            items:
              type: string
            deprecated: true
            example: []
            description: '**Deprecated** The array is always empty.

              '
          label:
            deprecated: true
            type: string
            description: 'The label associated with the album.

              '
          popularity:
            deprecated: true
            type: integer
            description: 'The popularity of the album. The value will be between 0
              and 100, with 100 being the most popular.

              '
    TrackObject:
      type: object
      x-spotify-docs-type: TrackObject
      properties:
        album:
          allOf:
          - $ref: '#/components/schemas/SimplifiedAlbumObject'
          description: 'The album on which the track appears. The album object includes
            a link in `href` to full information about the album.

            '
        artists:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedArtistObject'
          description: 'The artists who performed the track. Each artist object includes
            a link in `href` to more detailed information about the artist.

            '
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          description: 'A list of the countries in which the track can be played,
            identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
            code.

            '
        disc_number:
          type: integer
          description: 'The disc number (usually `1` unless the album consists of
            more than one disc).

            '
        duration_ms:
          type: integer
          description: 'The track length in milliseconds.

            '
        explicit:
          type: boolean
          description: 'Whether or not the track has explicit lyrics ( `true` = yes
            it does; `false` = no it does not OR unknown).

            '
        external_ids:
          allOf:
          - $ref: '#/components/schemas/ExternalIdObject'
          description: 'Known external IDs for the track.

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this track.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            track.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.

            '
        is_playable:
          type: boolean
          description: 'Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking)
            is applied. If `true`, the track is playable in the given market. Otherwise
            `false`.

            '
        linked_from:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/LinkedTrackObject'
          description: Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking)
            is applied, and the requested track has been replaced with different track.
            The track in the `linked_from` object contains information about the originally
            requested track.
        restrictions:
          allOf:
          - $ref: '#/components/schemas/TrackRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
        name:
          type: string
          description: 'The name of the track.

            '
        popularity:
          deprecated: true
          type: integer
          description: 'The popularity of the track. The value will be between 0 and
            100, with 100 being the most popular.<br/>The popularity of a track is
            a value between 0 and 100, with 100 being the most popular. The popularity
            is calculated by algorithm and is based, in the most part, on the total
            number of plays the track has had and how recent those plays are.<br/>Generally
            speaking, songs that are being played a lot now will have a higher popularity
            than songs that were played a lot in the past. Duplicate tracks (e.g.
            the same track from a single and an album) are rated independently. Artist
            and album popularity is derived mathematically from track popularity.
            _**Note**: the popularity value may lag actual popularity by a few days:
            the value is not updated in real time._

            '
        preview_url:
          deprecated: true
          type: string
          nullable: true
          description: 'A link to a 30 second preview (MP3 format) of the track. Can
            be `null`

            '
        track_number:
          type: integer
          description: 'The number of the track. If an album has several discs, the
            track number is the number on the specified disc.

            '
        type:
          type: string
          description: 'The object type: "track".

            '
          enum:
          - track
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.

            '
        is_local:
          type: boolean
          description: 'Whether or not the track is from a local file.

            '
    EpisodeObject:
      x-spotify-docs-type: EpisodeObject
      type: object
      allOf:
      - $ref: '#/components/schemas/EpisodeBase'
      - type: object
        required:
        - show
        properties:
          show:
            allOf:
            - $ref: '#/components/schemas/SimplifiedShowObject'
            description: 'The show on which the episode belongs.

              '
    LinkedTrackObject:
      type: object
      x-spotify-docs-type: LinkedTrackObject
      properties:
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this track.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            track.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.

            '
        type:
          type: string
          description: 'The object type: "track".

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.

            '
    AlbumBase:
      type: object
      required:
      - album_type
      - total_tracks
      - available_markets
      - external_urls
      - href
      - id
      - images
      - name
      - release_date
      - release_date_precision
      - type
      - uri
      properties:
        album_type:
          type: string
          description: 'The type of the album.

            '
          enum:
          - album
          - single
          - compilation
          example: compilation
        total_tracks:
          type: integer
          description: The number of tracks in the album.
          example: 9
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          example:
          - CA
          - BR
          - IT
          description: 'The markets in which the album is available: [ISO 3166-1 alpha-2
            country codes](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). _**NOTE**:
            an album is considered available in a market when at least 1 of its tracks
            is available in that market._

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this album.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            album.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the album.

            '
          example: 2up3OPMp9Tb4dAKM2erWXQ
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'The cover art for the album in various sizes, widest first.

            '
        name:
          type: string
          description: 'The name of the album. In case of an album takedown, the value
            may be an empty string.

            '
        release_date:
          type: string
          example: 1981-12
          description: 'The date the album was first released.

            '
        release_date_precision:
          type: string
          enum:
          - year
          - month
          - day
          example: year
          description: 'The precision with which `release_date` value is known.

            '
        restrictions:
          allOf:
          - $ref: '#/components/schemas/AlbumRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
        type:
          type: string
          enum:
          - album
          description: 'The object type.

            '
        uri:
          type: string
          example: spotify:album:2up3OPMp9Tb4dAKM2erWXQ
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the album.

            '
    PlaylistTrackObject:
      type: object
      x-spotify-docs-type: PlaylistTrackObject
      properties:
        added_at:
          type: string
          format: date-time
          x-spotify-docs-type: Timestamp
          description: 'The date and time the track or episode was added. _**Note**:
            some very old playlists may return `null` in this field._

            '
        added_by:
          allOf:
          - $ref: '#/components/schemas/PlaylistUserObject'
          description: 'The Spotify user who added the track or episode. _**Note**:
            some very old playlists may return `null` in this field._

            '
        is_local:
          type: boolean
          description: 'Whether this track or episode is a [local file](/documentation/web-api/concepts/playlists/#local-files)
            or not.

            '
        item:
          oneOf:
          - $ref: '#/components/schemas/TrackObject'
          - $ref: '#/components/schemas/EpisodeObject'
          x-spotify-docs-type: TrackObject | EpisodeObject
          description: Information about the track or episode.
          discriminator:
            propertyName: type
        track:
          oneOf:
          - $ref: '#/components/schemas/TrackObject'
          - $ref: '#/components/schemas/EpisodeObject'
          x-spotify-docs-type: TrackObject | EpisodeObject
          deprecated: true
          description: '**Deprecated:** Use `item` instead. Information about the
            track or episode.

            '
          discriminator:
            propertyName: type
    PlaylistUserObject:
      type: object
      x-spotify-docs-type: PlaylistUserObject
      properties:
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known public external URLs for this user.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint for this user.

            '
        id:
          type: string
          description: 'The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids)
            for this user.

            '
        type:
          type: string
          enum:
          - user
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for this user.

            '
    FollowersObject:
      type: object
      x-spotify-docs-type: FollowersObject
      properties:
        href:
          type: string
          nullable: true
          description: 'This will always be set to null, as the Web API does not support
            it at the moment.

            '
        total:
          type: integer
          description: 'The total number of followers.

            '
    PagingSimplifiedEpisodeObject:
      type: object
      x-spotify-docs-type: PagingEpisodeObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedEpisodeObject'
    SimplifiedEpisodeObject:
      x-spotify-docs-type: SimplifiedEpisodeObject
      type: object
      allOf:
      - $ref: '#/components/schemas/EpisodeBase'
    ErrorObject:
      type: object
      x-spotify-docs-type: ErrorObject
      required:
      - status
      - message
      properties:
        status:
          type: integer
          minimum: 400
          maximum: 599
          description: 'The HTTP status code (also returned in the response header;
            see [Response Status Codes](/documentation/web-api/concepts/api-calls#response-status-codes)
            for more information).

            '
        message:
          type: string
          description: 'A short description of the cause of the error.

            '
    ResumePointObject:
      type: object
      x-spotify-docs-type: ResumePointObject
      properties:
        fully_played:
          type: boolean
          description: 'Whether or not the episode has been fully played by the user.

            '
        resume_position_ms:
          type: integer
          description: 'The user''s most recent position in the episode in milliseconds.

            '
    PagingObject:
      type: object
      x-spotify-docs-type: PagingObject
      required:
      - href
      - items
      - limit
      - next
      - offset
      - previous
      - total
      properties:
        href:
          type: string
          example: 'https://api.spotify.com/v1/me/shows?offset=0&limit=20

            '
          description: 'A link to the Web API endpoint returning the full result of
            the request

            '
        limit:
          type: integer
          example: 20
          description: 'The maximum number of items in the response (as set in the
            query or by default).

            '
        next:
          type: string
          example: https://api.spotify.com/v1/me/shows?offset=1&limit=1
          nullable: true
          description: 'URL to the next page of items. ( `null` if none)

            '
        offset:
          type: integer
          example: 0
          description: 'The offset of the items returned (as set in the query or by
            default)

            '
        previous:
          type: string
          example: https://api.spotify.com/v1/me/shows?offset=1&limit=1
          nullable: true
          description: 'URL to the previous page of items. ( `null` if none)

            '
        total:
          type: integer
          example: 4
          description: 'The total number of items available to return.

            '
    PagingTrackObject:
      type: object
      x-spotify-docs-type: PagingTrackObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/TrackObject'
    PagingSimplifiedAudiobookObject:
      type: object
      x-spotify-docs-type: PagingAudiobookObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedAudiobookObject'
    PagingSimplifiedTrackObject:
      type: object
      x-spotify-docs-type: PagingTrackObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedTrackObject'
    TrackRestrictionObject:
      type: object
      x-spotify-docs-type: TrackRestrictionObject
      properties:
        reason:
          type: string
          description: 'The reason for the restriction. Supported values:

            - `market` - The content item is not available in the given market.

            - `product` - The content item is not available for the user''s subscription
            type.

            - `explicit` - The content item is explicit and the user''s account is
            set to not play explicit content.


            Additional reasons may be added in the future.

            **Note**: If you use this field, make sure that your application safely
            handles unknown values.

            '
    PagingSimplifiedAlbumObject:
      type: object
      x-spotify-docs-type: PagingAlbumObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedAlbumObject'
    AlbumRestrictionObject:
      type: object
      x-spotify-docs-type: AlbumRestrictionObject
      properties:
        reason:
          type: string
          enum:
          - market
          - product
          - explicit
          description: 'The reason for the restriction. Albums may be restricted if
            the content is not available in a given market, to the user''s subscription
            type, or when the user''s account is set to not play explicit content.

            Additional reasons may be added in the future.

            '
    ExternalUrlObject:
      type: object
      x-spotify-docs-type: ExternalUrlObject
      properties:
        spotify:
          type: string
          description: 'The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids)
            for the object.

            '
    SimplifiedPlaylistObject:
      type: object
      x-spotify-docs-type: SimplifiedPlaylistObject
      properties:
        collaborative:
          type: boolean
          description: '`true` if the owner allows other users to modify the playlist.

            '
        description:
          type: string
          description: 'The playlist description. _Only returned for modified, verified
            playlists, otherwise_ `null`.

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this playlist.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            playlist.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the playlist.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'Images for the playlist. The array may be empty or contain
            up to three images. The images are returned by size in descending order.
            See [Working with Playlists](/documentation/web-api/concepts/playlists).
            _**Note**: If returned, the source URL for the image (`url`) is temporary
            and will expire in less than a day._

            '
        name:
          type: string
          description: 'The name of the playlist.

            '
        owner:
          allOf:
          - $ref: '#/components/schemas/PlaylistOwnerObject'
          description: 'The user who owns the playlist

            '
        public:
          type: boolean
          description: 'The playlist''s public/private status (if it is added to the
            user''s profile): `true` the playlist is public, `false` the playlist
            is private, `null` the playlist status is not relevant. For more about
            public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)

            '
        snapshot_id:
          type: string
          description: 'The version identifier for the current playlist. Can be supplied
            in other requests to target a specific playlist version

            '
        items:
          allOf:
          - $ref: '#/components/schemas/PlaylistTracksRefObject'
          description: 'A collection containing a link ( `href` ) to the Web API endpoint
            where full details of the playlist''s items can be retrieved, along with
            the `total` number of items in the playlist. Note, a track object may
            be `null`. This can happen if a track is no longer available.

            '
        tracks:
          allOf:
          - $ref: '#/components/schemas/PlaylistTracksRefObject'
          deprecated: true
          description: '**Deprecated:** Use `items` instead. A collection containing
            a link ( `href` ) to the Web API endpoint where full details of the playlist''s
            tracks can be retrieved, along with the `total` number of tracks in the
            playlist. Note, a track object may be `null`. This can happen if a track
            is no longer available.

            '
        type:
          type: string
          description: 'The object type: "playlist"

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the playlist.

            '
    SimplifiedShowObject:
      x-spotify-docs-type: SimplifiedShowObject
      allOf:
      - $ref: '#/components/schemas/ShowBase'
    ExplicitContentSettingsObject:
      type: object
      x-spotify-docs-type: ExplicitContentSettingsObject
      properties:
        filter_enabled:
          type: boolean
          description: 'When `true`, indicates that explicit content should not be
            played.

            '
        filter_locked:
          type: boolean
          description: 'When `true`, indicates that the explicit content setting is
            locked and can''t be changed by the user.

            '
    CopyrightObject:
      type: object
      x-spotify-docs-type: CopyrightObject
      properties:
        text:
          type: string
          description: 'The copyright text for this content.

            '
        type:
          type: string
          description: 'The type of copyright: `C` = the copyright, `P` = the sound
            recording (performance) copyright.

            '
    EpisodeRestrictionObject:
      type: object
      x-spotify-docs-type: EpisodeRestrictionObject
      properties:
        reason:
          type: string
          description: 'The reason for the restriction. Supported values:

            - `market` - The content item is not available in the given market.

            - `product` - The content item is not available for the user''s subscription
            type.

            - `explicit` - The content item is explicit and the user''s account is
            set to not play explicit content.


            Additional reasons may be added in the future.

            **Note**: If you use this field, make sure that your application safely
            handles unknown values.

            '
    SimplifiedAlbumObject:
      x-spotify-docs-type: SimplifiedAlbumObject
      allOf:
      - $ref: '#/components/schemas/AlbumBase'
      - type: object
        required:
        - artists
        properties:
          artists:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedArtistObject'
            description: 'The artists of the album. Each artist object includes a
              link in `href` to more detailed information about the artist.

              '
    ImageObject:
      type: object
      x-spotify-docs-type: ImageObject
      required:
      - url
      - height
      - width
      properties:
        url:
          type: string
          example: 'https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228

            '
          description: 'The source URL of the image.

            '
        height:
          type: integer
          example: 300
          nullable: true
          description: 'The image height in pixels.

            '
        width:
          type: integer
          example: 300
          nullable: true
          description: 'The image width in pixels.

            '
    ExternalIdObject:
      type: object
      x-spotify-docs-type: ExternalIdObject
      properties:
        isrc:
          type: string
          description: '[International Standard Recording Code](http://en.wikipedia.org/wiki/International_Standard_Recording_Code)

            '
        ean:
          type: string
          description: '[International Article Number](http://en.wikipedia.org/wiki/International_Article_Number_%28EAN%29)

            '
        upc:
          type: string
          description: '[Universal Product Code](http://en.wikipedia.org/wiki/Universal_Product_Code)

            '
    PagingPlaylistTrackObject:
      type: object
      x-spotify-docs-type: PagingPlaylistTrackObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/PlaylistTrackObject'
    ArtistDiscographyAlbumObject:
      x-spotify-docs-type: ArtistDiscographyAlbumObject
      allOf:
      - $ref: '#/components/schemas/SimplifiedAlbumObject'
      - type: object
        required:
        - album_group
        properties:
          album_group:
            deprecated: true
            type: string
            enum:
            - album
            - single
            - compilation
            - appears_on
            example: compilation
            description: 'This field describes the relationship between the artist
              and the album.

              '
    NarratorObject:
      type: object
      x-spotify-docs-type: NarratorObject
      properties:
        name:
          type: string
          description: 'The name of the Narrator.

            '
    SimplifiedTrackObject:
      type: object
      x-spotify-docs-type: SimplifiedTrackObject
      properties:
        artists:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedArtistObject'
          description: The artists who performed the track. Each artist object includes
            a link in `href` to more detailed information about the artist.
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          description: 'A list of the countries in which the track can be played,
            identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
            code.

            '
        disc_number:
          type: integer
          description: The disc number (usually `1` unless the album consists of more
            than one disc).
        duration_ms:
          type: integer
          description: The track length in milliseconds.
        explicit:
          type: boolean
          description: Whether or not the track has explicit lyrics ( `true` = yes
            it does; `false` = no it does not OR unknown).
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'External URLs for this track.

            '
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the
            track.
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.

            '
        is_playable:
          type: boolean
          description: 'Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking/)
            is applied. If `true`, the track is playable in the given market. Otherwise
            `false`.

            '
        linked_from:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/LinkedTrackObject'
          description: Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking/)
            is applied and is only part of the response if the track linking, in fact,
            exists. The requested track has been replaced with a different track.
            The track in the `linked_from` object contains information about the originally
            requested track.
        restrictions:
          allOf:
          - $ref: '#/components/schemas/TrackRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
        name:
          type: string
          description: The name of the track.
        preview_url:
          deprecated: true
          type: string
          nullable: true
          description: 'A URL to a 30 second preview (MP3 format) of the track.

            '
        track_number:
          type: integer
          description: 'The number of the track. If an album has several discs, the
            track number is the number on the specified disc.

            '
        type:
          type: string
          description: 'The object type: "track".

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.

            '
        is_local:
          type: boolean
          description: 'Whether or not the track is from a local file.

            '
    PagingSimplifiedShowObject:
      type: object
      x-spotify-docs-type: PagingShowObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedShowObject'
    ArtistObject:
      type: object
      x-spotify-docs-type: ArtistObject
      properties:
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this artist.

            '
        followers:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/FollowersObject'
          description: 'Information about the followers of the artist.

            '
        genres:
          deprecated: true
          type: array
          items:
            type: string
          example:
          - Prog rock
          - Grunge
          description: 'A list of the genres the artist is associated with. If not
            yet classified, the array is empty.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            artist.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the artist.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'Images of the artist in various sizes, widest first.

            '
        name:
          type: string
          description: 'The name of the artist.

            '
        popularity:
          deprecated: true
          type: integer
          description: 'The popularity of the artist. The value will be between 0
            and 100, with 100 being the most popular. The artist''s popularity is
            calculated from the popularity of all the artist''s tracks.

            '
        type:
          type: string
          enum:
          - artist
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the artist.

            '
    PlaylistOwnerObject:
      allOf:
      - $ref: '#/components/schemas/PlaylistUserObject'
      - type: object
        properties:
          display_name:
            type: string
            nullable: true
            description: 'The name displayed on the user''s profile. `null` if not
              available.

              '
    PlaylistObject:
      type: object
      x-spotify-docs-type: PlaylistObject
      properties:
        collaborative:
          type: boolean
          description: '`true` if the owner allows other users to modify the playlist.

            '
        description:
          type: string
          nullable: true
          description: 'The playlist description. _Only returned for modified, verified
            playlists, otherwise_ `null`.

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this playlist.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            playlist.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the playlist.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'Images for the playlist. The array may be empty or contain
            up to three images. The images are returned by size in descending order.
            See [Working with Playlists](/documentation/web-api/concepts/playlists).
            _**Note**: If returned, the source URL for the image (`url`) is temporary
            and will expire in less than a day._

            '
        name:
          type: string
          description: 'The name of the playlist.

            '
        owner:
          allOf:
          - $ref: '#/components/schemas/PlaylistOwnerObject'
          description: 'The user who owns the playlist

            '
        public:
          type: boolean
          description: 'The playlist''s public/private status (if it is added to the
            user''s profile): `true` the playlist is public, `false` the playlist
            is private, `null` the playlist status is not relevant. For more about
            public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)

            '
        snapshot_id:
          type: string
          description: 'The version identifier for the current playlist. Can be supplied
            in other requests to target a specific playlist version

            '
        items:
          type: object
          allOf:
          - $ref: '#/components/schemas/PagingPlaylistTrackObject'
          description: 'The items of the playlist. _**Note**: This field is only available
            for playlists owned by the current user or playlists the user is a collaborator
            of._

            '
        tracks:
          type: object
          allOf:
          - $ref: '#/components/schemas/PagingPlaylistTrackObject'
          deprecated: true
          description: '**Deprecated:** Use `items` instead. The tracks of the playlist.

            '
        type:
          type: string
          description: 'The object type: "playlist"

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the playlist.

            '
        followers:
          allOf:
          - $ref: '#/components/schemas/FollowersObject'
          description: Information about the followers of the playlist.
    AuthorObject:
      type: object
      x-spotify-docs-type: AuthorObject
      properties:
        name:
          type: string
          description: 'The name of the author.

            '
    PagingPlaylistObject:
      type: object
      x-spotify-docs-type: PagingPlaylistObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedPlaylistObject'
    SimplifiedArtistObject:
      type: object
      x-spotify-docs-type: SimplifiedArtistObject
      properties:
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this artist.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            artist.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the artist.

            '
        name:
          type: string
          description: 'The name of the artist.

            '
        type:
          type: string
          enum:
          - artist
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the artist.

            '
    EpisodeBase:
      type: object
      required:
      - audio_preview_url
      - description
      - html_description
      - duration_ms
      - explicit
      - external_urls
      - href
      - id
      - images
      - is_externally_hosted
      - is_playable
      - languages
      - name
      - release_date
      - release_date_precision
      - type
      - uri
      properties:
        audio_preview_url:
          deprecated: true
          type: string
          nullable: true
          example: https://p.scdn.co/mp3-preview/2f37da1d4221f40b9d1a98cd191f4d6f1646ad17
          description: 'A URL to a 30 second preview (MP3 format) of the episode.
            `null` if not available.

            '
        description:
          type: string
          example: 'A Spotify podcast sharing fresh insights on important topics of
            the moment—in a way only Spotify can. You’ll hear from experts in the
            music, podcast and tech industries as we discover and uncover stories
            about our work and the world around us.

            '
          description: 'A description of the episode. HTML tags are stripped away
            from this field, use `html_description` field in case HTML tags are needed.

            '
        html_description:
          type: string
          example: '<p>A Spotify podcast sharing fresh insights on important topics
            of the moment—in a way only Spotify can. You’ll hear from experts in the
            music, podcast and tech industries as we discover and uncover stories
            about our work and the world around us.</p>

            '
          description: 'A description of the episode. This field may contain HTML
            tags.

            '
        duration_ms:
          type: integer
          example: 1686230
          description: 'The episode length in milliseconds.

            '
        explicit:
          type: boolean
          description: 'Whether or not the episode has explicit content (true = yes
            it does; false = no it does not OR unknown).

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'External URLs for this episode.

            '
        href:
          type: string
          example: https://api.spotify.com/v1/episodes/5Xt5DXGzch68nYYamXrNxZ
          description: 'A link to the Web API endpoint providing full details of the
            episode.

            '
        id:
          type: string
          example: 5Xt5DXGzch68nYYamXrNxZ
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the episode.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'The cover art for the episode in various sizes, widest first.

            '
        is_externally_hosted:
          type: boolean
          description: 'True if the episode is hosted outside of Spotify''s CDN.

            '
        is_playable:
          type: boolean
          description: 'True if the episode is playable in the given market. Otherwise
            false.

            '
        language:
          type: string
          deprecated: true
          example: en
          description: 'The language used in the episode, identified by a [ISO 639](https://en.wikipedia.org/wiki/ISO_639)
            code. This field is deprecated and might be removed in the future. Please
            use the `languages` field instead.

            '
        languages:
          type: array
          items:
            type: string
          example:
          - fr
          - en
          description: 'A list of the languages used in the episode, identified by
            their [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639) code.

            '
        name:
          type: string
          example: 'Starting Your Own Podcast: Tips, Tricks, and Advice From Anchor
            Creators

            '
          description: 'The name of the episode.

            '
        release_date:
          type: string
          example: 1981-12-15
          description: 'The date the episode was first released, for example `"1981-12-15"`.
            Depending on the precision, it might be shown as `"1981"` or `"1981-12"`.

            '
        release_date_precision:
          type: string
          example: day
          enum:
          - year
          - month
          - day
          description: 'The precision with which `release_date` value is known.

            '
        resume_point:
          allOf:
          - $ref: '#/components/schemas/ResumePointObject'
          description: 'The user''s most recent position in the episode. Set if the
            supplied access token is a user token and has the scope ''user-read-playback-position''.

            '
        type:
          type: string
          enum:
          - episode
          description: 'The object type.

            '
        uri:
          type: string
          example: spotify:episode:0zLhl3WsOCQHbe1BPTiHgr
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the episode.

            '
        restrictions:
          allOf:
          - $ref: '#/components/schemas/EpisodeRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
    ShowBase:
      type: object
      required:
      - available_markets
      - copyrights
      - description
      - explicit
      - external_urls
      - href
      - html_description
      - id
      - images
      - is_externally_hosted
      - languages
      - media_type
      - name
      - publisher
      - total_episodes
      - type
      - uri
      properties:
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          description: 'A list of the countries in which the show can be played, identified
            by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
            code.

            '
        copyrights:
          type: array
          items:
            $ref: '#/components/schemas/CopyrightObject'
          description: 'The copyright statements of the show.

            '
        description:
          type: string
          description: 'A description of the show. HTML tags are stripped away from
            this field, use `html_description` field in case HTML tags are needed.

            '
        html_description:
          type: string
          description: 'A description of the show. This field may contain HTML tags.

            '
        explicit:
          type: boolean
          description: 'Whether or not the show has explicit content (true = yes it
            does; false = no it does not OR unknown).

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'External URLs for this show.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the
            show.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the show.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'The cover art for the show in various sizes, widest first.

            '
        is_externally_hosted:
          type: boolean
          description: 'True if all of the shows episodes are hosted outside of Spotify''s
            CDN. This field might be `null` in some cases.

            '
        languages:
          type: array
          items:
            type: string
          description: 'A list of the languages used in the show, identified by their
            [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code.

            '
        media_type:
          type: string
          description: 'The media type of the show.

            '
        name:
          type: string
          description: 'The name of the episode.

            '
        publisher:
          deprecated: true
          type: string
          description: 'The publisher of the show.

            '
        type:
          type: string
          enum:
          - show
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids)
            for the show.

            '
        total_episodes:
          type: integer
          description: 'The total number of episodes in the show.

            '
  responses:
    OneAlbum:
      description: An album
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlbumObject'
    PagingSimplifiedTrackObject:
      description: Pages of tracks
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagingSimplifiedTrackObject'
    Forbidden:
      description: 'Bad OAuth request (wrong consumer key, bad nonce, expired

        timestamp...). Unfortunately, re-authenticating the user won''t help here.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/ErrorObject'
    OnePrivateUser:
      description: A user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PrivateUserObject'
    SearchItems:
      description: Search response
      content:
        application/json:
          schema:
            type: object
            properties:
              tracks:
                $ref: '#/components/schemas/PagingTrackObject'
              artists:
                $ref: '#/components/schemas/PagingArtistObject'
              albums:
                $ref: '#/components/schemas/PagingSimplifiedAlbumObject'
              playlists:
                $ref: '#/components/schemas/PagingPlaylistObject'
              shows:
                $ref: '#/components/schemas/PagingSimplifiedShowObject'
              episodes:
                $ref: '#/components/schemas/PagingSimplifiedEpisodeObject'
              audiobooks:
                $ref: '#/components/schemas/PagingSimplifiedAudiobookObject'
    PagedAlbums:
      description: A paged set of albums
      content:
        application/json:
          schema:
            type: object
            required:
            - albums
            properties:
              albums:
                $ref: '#/components/schemas/PagingSimplifiedAlbumObject'
    PagingPlaylistTrackObject:
      description: Pages of tracks
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagingPlaylistTrackObject'
    OnePlaylist:
      description: A playlist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PlaylistObject'
    TooManyRequests:
      description: 'The app has exceeded its rate limits.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/ErrorObject'
    Unauthorized:
      description: 'Bad or expired token. This can happen if the user revoked a token
        or

        the access token has expired. You should re-authenticate the user.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/ErrorObject'
    OneArtist:
      description: An artist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ArtistObject'
    ManyTracks:
      description: A set of tracks
      content:
        application/json:
          schema:
            type: object
            required:
            - tracks
            properties:
              tracks:
                type: array
                items:
                  $ref: '#/components/schemas/TrackObject'
    ArrayOfImages:
      description: A set of images
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ImageObject'
    PlaylistSnapshotId:
      description: A snapshot ID for the playlist
      content:
        application/json:
          schema:
            type: object
            properties:
              snapshot_id:
                type: string
                example: abc
    PagedPlaylists:
      description: A paged set of playlists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagingPlaylistObject'
    PagingArtistDiscographyAlbumObject:
      description: Pages of albums
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagingArtistDiscographyAlbumObject'
  parameters:
    QueryMarket:
      name: market
      required: false
      in: query
      schema:
        title: Market
        description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n\
          \  If a country code is specified, only content that is available in that\
          \ market will be returned.<br/>\n  If a valid user access token is specified\
          \ in the request header, the country associated with\n  the user account\
          \ will take priority over this parameter.<br/>\n  _**Note**: If neither\
          \ market or user country are provided, the content is considered unavailable\
          \ for the client._<br/>\n  Users can view the country that is associated\
          \ with their account in the [account settings](https://www.spotify.com/account/overview/).\n"
        example: ES
        type: string
    QueryLimit:
      name: limit
      required: false
      in: query
      schema:
        title: Limit
        description: 'The maximum number of items to return. Default: 20. Minimum:
          1. Maximum: 50.

          '
        default: 20
        example: 10
        type: integer
        minimum: 1
        maximum: 50
    PathArtistId:
      name: id
      required: true
      in: path
      schema:
        title: Spotify Artist ID
        description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
          of the artist.

          '
        example: 0TnOYISbd1XYRBk9myaseg
        type: string
    PathPlaylistId:
      name: playlist_id
      required: true
      in: path
      schema:
        title: Playlist ID
        description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
          of the playlist.

          '
        example: 3cEYpjA9oz9GiPac4AsH4n
        type: string
    QueryOffset:
      name: offset
      required: false
      in: query
      schema:
        title: Offset
        description: 'The index of the first item to return. Default: 0 (the first
          item). Use with limit to get the next set of items.

          '
        default: 0
        example: 5
        type: integer
    QueryIncludeGroups:
      name: include_groups
      required: false
      in: query
      schema:
        title: Groups to include (single, album, appears_on, compilation)
        description: 'A comma-separated list of keywords that will be used to filter
          the response. If not supplied, all album types will be returned. <br/>

          Valid values are:<br/>- `album`<br/>- `single`<br/>- `appears_on`<br/>-
          `compilation`<br/>For example: `include_groups=album,single`.

          '
        example: single,appears_on
        type: string
    QueryAdditionalTypes:
      name: additional_types
      required: false
      in: query
      schema:
        title: Additional Types
        description: 'A comma-separated list of item types that your client supports
          besides the default `track` type. Valid types are: `track` and `episode`.<br/>

          _**Note**: This parameter was introduced to allow existing clients to maintain
          their current behaviour and might be deprecated in the future._<br/>

          In addition to providing this parameter, make sure that your client properly
          handles cases of new types in the future by checking against the `type`
          field of each object.

          '
        type: string
    PathAlbumId:
      in: path
      name: id
      required: true
      schema:
        title: Spotify Album ID
        description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
          of the album.

          '
        example: 4aawyAB9vmqN3uQ7FjRGTy
        type: string
  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: Spotify supports OAuth 2.0 for authenticating all API requests.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.spotify.com/authorize
          tokenUrl: https://accounts.spotify.com/api/token
          scopes:
            app-remote-control: 'Communicate with the Spotify app on your device.

              '
            playlist-read-private: 'Access your private playlists.

              '
            playlist-read-collaborative: 'Access your collaborative playlists.

              '
            playlist-modify-public: 'Manage your public playlists.

              '
            playlist-modify-private: 'Manage your private playlists.

              '
            user-library-read: 'Access your saved content.

              '
            user-library-modify: 'Manage your saved content.

              '
            user-read-private: 'Access your subscription details.

              '
            user-read-email: 'Get your real email address.

              '
            user-follow-read: 'Access your followers and who you are following.

              '
            user-follow-modify: 'Manage your saved content.

              '
            user-top-read: 'Read your top artists and content.

              '
            user-read-playback-position: 'Read your position in content you have played.

              '
            user-read-playback-state: 'Read your currently playing content and Spotify
              Connect devices information.

              '
            user-read-recently-played: 'Access your recently played items.

              '
            user-read-currently-playing: 'Read your currently playing content.

              '
            user-modify-playback-state: 'Control playback on your Spotify clients
              and Spotify Connect devices.

              '
            ugc-image-upload: 'Upload images to Spotify on your behalf.

              '
            streaming: 'Play content and control playback on your other devices.

              '
